/* Style Resets */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
}

/* Elements */
nav {
    display: flex;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
}

/* Shared Styles */
#hero, header, footer {
    background-color: #1F2937;
}

#hero p, #navigation a, footer p {
    font-size: 18px;
    color: #e5e7eb;
}

/* Navigation */
#navigation li {
    display: inline-block;
    list-style-type: none;
}

/* Header */
#logo {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero */
#hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}


/* Facts */
#facts h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

#facts li {
    display: inline-block;
    list-style-type: none;
}

/* Quotes */
#quotes {
    background-color: #e5e7eb;
}

#quote {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

/* CTA */

/* Footer */
